*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --p-sred: hsl(10, 79%, 65%);
    --p-cyan: hsl(186, 34%, 60%);
    --n-dbrown: hsl(25, 47%, 15%);
    --n-mbrown: hsl(28, 10%, 53%);
    --n-cream: hsl(27, 66%, 92%);
    --n-vporange: hsl(33, 100%, 98%);
}

body {
    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--n-cream);
}

.card {
    width: min(33.75rem, 95%);
}

.card-header {
    background-color: var(--p-sred);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.875rem;
    border-radius: 1rem;
}

.left-header {
    color: var(--n-vporange);
}

.balance-number {
    font-size: 1.6875rem;
}

.right-header {
    width: 4rem;
    height: 3.5rem;
}

.logo {
    background-image: url(/images/logo.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 4.5rem;
    height: 3rem;
}

.card-content {
    margin-top: 1.3rem;
    background-color: var(--n-vporange);
    padding: 1.875rem;
    border-radius: 1rem;
}

.spending {
    font-size: 1.6875rem;
    color: var(--n-dbrown);
}

.myChart {
    margin-top: 1rem;
}

.hr {
    border-width: 1px;
    border-color: var(--n-mbrown);
    border-style: thin;
    border-top: none;
    border-left: none;
    opacity: .3;
    margin-top: 2.125rem;
}

.lower-part {
    display: flex;
    justify-content: space-between;
    margin-top: 2.125rem;
}

.total-amount {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
}

.total-amount-text {
    color: var(--n-mbrown);
}

.total-amount-number {
    font-size: 2.625rem;
    color: var(--n-dbrown);
}

.percentage-last-month {
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: flex-end;
    padding-bottom: .5rem;
}

.percentage-number {
    color: var(--n-dbrown);
    font-weight: bold;
}

.percentage-text {
    color: var(--n-mbrown);
}

